import styles from './{{pascalCase name}}.module.css';

type Props = {}

export const {{pascalCase name}} = ({}: Props) => {
  return (
    <div className={styles.root}>
      {{pascalCase name}} Component
    </div>
  );
};
