.root {
  --preview-delete-btn-visibility: visible;
  --preview-height: auto;
  --preview-overflow: hidden;
  --preview-shadow-visibility: visible;

  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: var(--preview-height);
  padding: 24px;
  border-radius: 12px;
  background: var(--color-tile-bg);
  color: var(--color-text-tertiary);
}

.content {
  position: relative;
  height: 100%;
  white-space: pre-wrap;
}

.hasClamp {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: var(--preview-overflow);
}

.content:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(180deg, rgba(242, 244, 247, 0) 0%, #f2f4f7 100%);
  visibility: var(--preview-shadow-visibility);
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding-top: 16px;
  margin-top: auto;
}

.deleteBtn {
  visibility: var(--preview-delete-btn-visibility);
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.full {
  --preview-delete-btn-visibility: hidden;
  --preview-height: 100%;
  --preview-overflow: auto;
  --preview-shadow-visibility: hidden;
}
