@import "styles/media.css";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

.column {
  display: flex;
  position: relative;
  width: 100%;
  align-self: stretch;
}

@media (--md) {
  .container {
    flex-direction: row;
    gap: 16px;
  }
}
